<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="row">
  <div class="col"></div>  
  <div class="col-6">
    <h1 class="mt-4 text-center">PPM - Project Product Management</h1>
    <nav class="m-3 text-center">
      <a [routerLink]="['/']" class="mx-5">Home</a>
      <a [routerLink]="['/products']" class="mx-5">Product List</a>
      <a [routerLink]="['/products/new']" class="mx-5">Product Creation</a>
    </nav>
  </div>  
  <div class="col"></div>  
</div>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="main_content border border-dark rounded" style="width: 80%; margin-left: auto; margin-right: auto;">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col"></div>
</div>